@import "tailwindcss";

@theme {
  --color-primary: #191919;
  --color-secondary: #fff;
  --color-background: #f8f8f8;
  --color-light: #fafafa;
  --color-paragraph: #666;
  --color-paragraph-light: #999;
  --color-border-primary: #e7e7e9;
  --color-tertiary: #ff6a08;
}

/* @media (prefers-color-scheme: dark) {} */

body {
  /* @apply bg-white text-black font-sans; */
}

button {
  cursor: pointer;
}
